D:\git\python_practice_using_vscode\opencv\venv
D:\git\python_practice_using_vscode\RobotFramework\venv
D:\git\python_practice_using_vscode\Sandbox\venv
D:\git\python_practice_using_vscode\tkinter\ve_311
D:\git\python_practice_using_vscode\WebScraping\venv
D:\git\python_practice_using_vscode\grpc\venv
D:\git\python_practice_using_vscode\Database\venv